
.header {
  
background-image: url('../../assets/tasty-fruits-juice-with-vitamins-background_488220-2911.avif');

  
  background-size: cover;   
  background-position: center;          
  background-repeat: no-repeat;   
  width: 100%;
  height: 700px; 
  margin: 30px auto;  
  position: relative;
        
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6 vw;
    animation: fadeIn 3s;
}
.header-content h2{
   font-weight: 500;
   color: darkmagenta;
   font-size: max(4.5 vw,22px);
}
.header-content p{
    color: black;
    font-size: 1vw;
    margin-left: 30px;
}
@media (max-width:1050px){
  .header-content{
    max-width: 65%;
  }
}
@media (max-width:750px){
  .header-content{
    max-width: 55%;
  }
  .header-content p{
    display: none;
  }

}
